*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
}

.chat-container{
    width:450px;
    height:650px;
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.chat-header{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:18px;
    font-size:22px;
    font-weight:bold;
}

.chat-box{
    height:520px;
    overflow-y:auto;
    padding:15px;
    background:#f8fafc;
}

.user-message{
    background:#2563eb;
    color:white;
    padding:12px;
    margin:10px 0;
    border-radius:15px 15px 0 15px;
    max-width:75%;
    margin-left:auto;
}

.bot-message{
    background:#e2e8f0;
    color:#111827;
    padding:12px;
    margin:10px 0;
    border-radius:15px 15px 15px 0;
    max-width:75%;
}

.input-area{
    display:flex;
    border-top:1px solid #ddd;
}

.input-area input{
    flex:1;
    border:none;
    padding:15px;
    font-size:16px;
    outline:none;
}

.input-area button{
    border:none;
    background:#2563eb;
    color:white;
    padding:15px 20px;
    cursor:pointer;
    font-size:16px;
}

.input-area button:hover{
    background:#1d4ed8;
}